{% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="container-fluid px-0 mx-0  bg-success ">
                        <div class="container  px-4">
                    <div class="mt-alerts">
                        <div class="alert alert-dismissible fade show text-center text-white" role="alert">
                           {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        
                    </div>
                        </div>
                    </div>
                    {% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
                    <div class="container-fluid px-0 mx-0 bg-danger">
                        <div class="container  px-4">
                    <div class=" mt-alerts ">
                        <div class="alert alert-dismissible fade show text-center text-white" role="alert">
                            {{message}} Sorry.
                            <button  type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}