{% extends 'base.html' %}
{%load static%}
{% load bootstrap5 %}
{%block titleblock%}| {{post.title}} {%endblock%}
{%block bodyblock%}

<div>
    <h3 class="mb-3">{{post.title}}</h3>
    <p><i>Written by <b>{{post.author.username}}</b> & published on {{post.published}} </i> </p>
    <img src="{{post.image.url}}" alt="image" class="img-fluid" width="100%" ><br>
    <div class="my-2">
        {{post.body|safe}}
    </div>
    <hr class="text-muted">
    <div class="mt-5">
        <h4>You may also like:</h4><br>
        <div class="row mt-3">
            {% for y in similar_posts %}
            <div class="col-lg-3">
                <a class="text-decoration-none text-dark " href="{{y.get_absolute_url}}">
                    <img src="{{y.image.url}}" alt="image" class="img-fluid">
                    <h6 class="mt-2">{{y.title}}</h6>
                </a>

            </div>
            
               
          
            {%empty%}
            <p class="text-center my-5">No similar articles.</p>
            {%endfor%}
        </div>
        
    </div>

</div>


 {%endblock%}
