{% extends 'base.html' %}
{%load static%}
{% load bootstrap5 %}
{%block titleblock%}| Home{%endblock%}
{%block bodyblock%}


   <div class="col-lg-6 mx-auto">
    <h4 class="text-center p-3 mt-2">Update Article</h4>
    <form class="border p-3" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {% bootstrap_form form %}
        {{ form.media  }}

       <div class="d-flex justify-content-start mt-4">
        <button type="submit" class="btn btn-info">Update</button>
       </div>
      </form>
   </div>


 {%endblock%}
